################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MailClient.API/obj
/MailClient.API/bin/Debug/net8.0
