################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MailClient
/bin/Debug/net8.0
/obj
*.md
/.vs/ProjectEvaluation
